# for verify
args.js 

.env

# Foundry
cache/
out/

# JS
node_modules/
package-lock.json
yarn.lock

# Hardhat files
cache_hardhat/
artifacts/
artifacts-zk/
cache-zk/

# Hardhat plugin files
typechain-types/

# Merkle generator
scripts/generator/*json
scripts/generator/*log

*.go
abi
build
scripts/xbribes
# for verify
Flattened.sol